.icon {

  &:only-child {
    margin-left: -0.25rem;
    margin-right: -0.25rem;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 1px 0 1px #004;
  }

  svg {

    width: 1.5rem;
    height: 1.5rem;
    fill: currentColor;
  }
}
