.social {
  padding: 2em;

  a {
    padding: .5em .5em .3em .5em;
    border-radius: 1em;
    background-color: $white-ter;
    margin: .5em;
    width: 1em;
    height: 1em;
    vertical-align: middle;
    display: inline;
  }
}